@model MovieDirectorApp.Models.Genre

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    <button>@Html.ActionLink("Edit", "Edit", new { id = Model.GenreID })</button>
    <button>@Html.ActionLink("Back to List", "Index")</button>
</p>
