@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie App</h1>
    @*<p class="lead"></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>
            See a list of Movies.
        </p>
        <button id="button1"><a class="btn btn-md " href="~/Movies/Index">Movies &raquo;</a></button>
    </div>
    <div class="col-md-4">
        <h2>Directors</h2>
        <p>See a list of Directors.</p>
        <button id="button2"><a class="btn btn-md" href="~/Directors/Index">Directors &raquo;</a></button>
    </div>
    <div class="col-md-4">
        <h2>Genres</h2>
        <p>See a list of Genres</p>
        <button id="button3"><a class="btn btn-md" href="~/Genres/Index">Genres &raquo;</a></button>
    </div>
</div>